*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Be Vietnam', sans-serif;
	overflow-x: hidden;
}
.main{
	position: relative;
}
.menu-holder{
	width: 100%;
	height: 50px;
	padding-top: 30px;
}
.menu-holder .logo{
	padding-top: 10px;
	float: left;
}
.menu-holder .main-menu{
	list-style: none;
	float: left;
	margin-left: 15%;
	line-height: 45px;
}
.main-menu li{
	display: inline-block;
}
.main-menu li a{
	text-transform: capitalize;
	font-size: 14px;
	color: hsl(229, 31%, 21%);
	padding: 10px 20px;
	font-weight: 500;
}
.main-menu li a:hover{
	color: hsl(0, 94%, 66%);
	text-decoration: none;
}
#check, #close{
	display: none;
}
.checkbtn, .closebtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 45px;
	margin-right: 10px;
	cursor: pointer;
	display: none;
}
.mini-menu-controller{
	display: none;
}
.right-btn{
	float: right !important;
	list-style: none;
}
.right-btn-btn{
	background: hsl(12, 88%, 59%);
	border-radius: 50px;
	font-size: 13px;
	padding-left: 20px;
	padding-right: 20px;
}
.right-btn-btn:hover{
	box-shadow: 2px 2px 10px hsl(12, 88%, 59%);
}
.banner{
	margin-top: 3%;
}
.banner h1{
	font-size: 56px;
	margin-top: 50px;
	color: hsl(228, 39%, 23%);
}
.banner p{
	width: 75%;
	font-size: 16px;
	color:hsl(227, 12%, 61%);
}
.banner-btn{
	background: hsl(12, 88%, 59%);
	border-radius: 50px;
	font-size: 13px;
	padding: 10px 30px;
}
.banner-btn:hover{
	box-shadow: 2px 2px 10px hsl(12, 88%, 59%);
}
.banner-img img{
	max-width: 100%;
	height: 450px;
}
.overlay-img{
	background: url("../images/bg-tablet-pattern.svg");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: cover;
	position: absolute;
	top: -20%;
	right: -12%;
	z-index: -1;
	width: 55%;
	height: 550px;
	transform: rotate(180deg);
}
.about{
	margin-top: 10%;
	position: relative;
}
.about h1{
	color: hsl(228, 39%, 23%);
}
.about p{
	color:hsl(227, 12%, 61%);
}
.services p span{
	background: hsl(12, 88%, 59%);
	border-radius: 50px;
}
.services-holder .services-text{
	color:hsl(228, 39%, 23%);
}
.services-holder-text{
	padding-left: 40px;
}
.left-overlay-img{
	background: url("../images/bg-tablet-pattern.svg");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: -40%;
	z-index: -1;
	width: 55%;
	height: 550px;
}
.testimonial{
	margin-top: 5%;
	margin-bottom: 8%;
}
.testimonial h1{
	color: hsl(228, 39%, 23%);
}
.item{
	height: 250px;
	position: relative;
}
.testimonial-img{
	position: absolute;
	top: 18%;
	height: 100%;	
	background:hsl(0, 0%, 98%);
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.item img{
	display: block;
	max-width: 80px;
	max-height: 80px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	z-index: 100; 
}
.item p{
	font-size: 14px;
}
.simplify{
	position: relative;
	background: hsl(12, 88%, 59%);
	padding: 50px 0px;
}
.simplify-holder{
	z-index: 10;
}
.simplify-overlay{
	background: url("../images/bg-simplify-section-desktop.svg");
	background-position: bottom left;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
	width: 85%;
	height: 205px;
	display: block;
	margin: 0 auto;
}
.simplify-overlay img{
	width: 100%;
	height: 100%;
}
.simplify .banner-btn{
	background: #fff;
	color: hsl(12, 88%, 59%);
}
.footer{
	background: hsl(233, 12%, 13%);
	padding-top: 5%;
	padding-bottom: 3%;
}
.footer-one p a{
	margin-right: 10px;
}
.footer-one p{
	margin-top: 70px;
}
.footer-two ul, .footer-three ul{
	list-style: none;
}
.footer-two ul li, .footer-three ul li{
	margin-bottom: 10px;
}
.footer-four input{
	font-size: 13px;
	padding: 20px 10px;
	border: none;
	border-radius: 50px;
}
.footer-four input:focus{
	box-shadow: none;
}
.footer-four p{
	color: hsl(227, 12%, 61%); 
	font-size: 13px;
	margin-top: 25%;
}







/*=====================================Media Queries====================================*/
@media(max-width: 1920px){
	
}
@media(max-width: 1680px){
	
}
@media(max-width: 1440px){
	
}
@media(max-width: 1366px){
	
}

@media(max-width: 1280px){
	
}
@media(max-width: 1024px){
	.menu-holder .main-menu{
		margin-left: 8%;
	}
	.right-btn{
		margin-top: 10px;
	}
	.overlay-img{
		top: -40%;
		right: -3.5%;
		width: 46%;
	}
	.banner h1{
		font-size: 46px;
	}
	.banner p{
		width: 70%;
		font-size: 14px;
	}
	.banner-img img{
		max-width: 95%;
		height: 400px;
		margin-top: 5%;
	}
	.about h1{
		font-size: 32px;
	}
	.about .about-text{
		font-size: 14px;
	}
	.services .services-text span{
		margin-right: 30px !important;
	}
	.services .about-text{
		font-size: 14px;
	}

	.testimonial h1, .simplify-holder h1{
		font-size: 32px;
	}
	.simplify-overlay{
		height: 180px;
	}
	.footer-two ul li, .footer-three ul li{
		font-size: 14px;
	}
	.footer-four input{
		padding: 20px 20px;
	}
	.footer-four button{
		padding: 10px 10px;
		line-height: 20px;
	}
	.footer-four p{
		font-size: 12px;
	}
}
@media(max-width: 991px){
	.logo img{
		width: 120px;
	}
	.menu-holder .main-menu{
		margin-left: 5%;
	}
	.main-menu li a{
		padding: 10px 10px;
	}
	.overlay-img{
		top: -35%;
		right: -19%;
		width: 62%;
		height: 480px;
	}
	.banner h1{
		font-size: 36px;
	}
	.banner p{
		width: 80%;
		font-size: 14px;
	}
	.banner-img img{
		max-width: 100%;
		height: 320px;
		margin-top: 10%;
	}
	.about h1{
		font-size: 28px;
	}
	.about .about-text{
		font-size: 13px;
	}
	.services .services-text{
		font-size: 14px;
	}
	.services .services-text span{
		margin-right: 15px !important;
		padding: 5px 15px !important;
	}
	.services .about-text{
		font-size: 13px;
		margin-left: -15px;
	}
	.left-overlay-img{
		top: 50%;
		left: -35%;
		width: 55%;
		height: 480px;
	}
	.testimonial h1, .simplify-holder h1{
		font-size: 28px;
	}
	.testimonial-img p{
		font-size: 13px;
	}
	.footer-one .logo{
		width: 120px;
	}
	.footer-one p a img{
		width: 20px;
		margin-right: 5px;
	}
	.footer-one p a{
		margin-right: 0px;
	}
	.footer-four p{
		font-size: 8px;
	}
	.simplify-overlay{
		height: 175px;
	}
}
@media(max-width: 858px){
	.right-btn, .closebtn{
		display: none;
	}
	.checkbtn {
		display: block;
	}
	.closebtn{
		position: absolute;
		top: -10px;
		right: 20px;
		font-size: 20px;
	}
	.logo{
		margin-top: 5px;
	}
	.main-menu{
		position: fixed;
		width: 85%;
		display: block;
		margin: 80px auto 0px auto;
		background: hsl(0, 0%, 98%);
		left: -100%;
		text-align: center;
		transition: all .5s;
		margin-top: 80px;
		padding: 20px 0px;
		z-index: 2;
	}
	.main-menu li{
		color: black;
		display: block !important;
		margin: 10px;
	}
	.main-menu li a{
		color: #000;
		font-size: 18px;
		font-weight: bold;
	}
	#check:checked ~ .main-menu{
		left: 5px;
	}
}
@media(max-width: 800px){
	.footer-two ul li, .footer-three ul li{
		font-size: 13px;
	}
	.footer-four input{
		font-size: 12px;
		padding: 20px 20px;
	}
}
@media(max-width: 768px){
	.footer-one p{
		margin-top: 50px;
	}
}
@media(max-width: 600px){
	
}
@media(max-width: 576px){
	.overlay-img{
		top: -90%;
		right: -4.5%;
		width: 85%;
		height: 500px;
	}
	.banner-text{
		order: 1;
		text-align: center;
	}
	.banner h1{
		font-size: 36px;
		margin-top: 0px;
	}
	.banner p{
		font-size: 16px;
		width: 100%;
		margin-bottom: 20px;
		line-height: 25px;
	}
	.about{
		text-align: center;
		margin-top: 20%;
	}
	.about .about-text{
		font-size: 16px;
	}
	.services{
		margin-top: 5%;
		text-align: left;
		padding-left: 0;
	}
	.services .services-text{
		background: hsl(13, 100%, 96%);
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
		padding-left: 0;
		margin-bottom: 10px;
		padding-top: 4.5px !important;
		padding-bottom: 4.5px !important;
	}
	.services-holder{
		padding-left: 0;
	}
	
	.left-overlay-img{
		display: none;
	}
	.simplify{
		text-align: center;
	}
	.simplify-btn{
		justify-content: center !important;
		margin-top: 5%;
	}
	.simplify-overlay{
		background: url("../images/bg-simplify-section-mobile.svg");
		background-repeat: no-repeat;
		background-position: left bottom;
		position: absolute;
		top: 0;
		left: -10%;
		z-index: 0;
		width: 100%;
		height: 230px;
	}
	.footer-four{
		margin-top: 4%;
		margin-bottom: 5%;
	}
	.footer-one p a{
		margin-left: 20px;
		margin-right: 20px;
	}
	.footer-one p a img{
		width: 25px;
		height: 25px;
	}
	.footer-one p{
		margin-top: 20px;
	}
	.footer-one .logo{
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.copyright{
		font-size: 13px;
		color: hsl(227, 12%, 61%);
	}




}
/*=========================================End of Media Quesries======================================*/
/*.services p{
	background: hsl(13, 100%, 96%);
	}*/
